RESEND_API_KEY=
TURSO_DATABASE_URL=libsql://beartooth-tik-tak-toe-perk.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=
CONTACT_FROM_EMAIL=forms@fastgrowth.top
CONTACT_RECIPIENTS=cjheiny76@yahoo.com,bret@schrader.co
CONTACT_REPLY_TO=cjheiny76@yahoo.com
PUBLIC_SITE_URL=https://beartoothconstruction.com
